<style>
  body{
      background-image: url(https://previews.123rf.com/images/vicushka/vicushka1602/vicushka160200213/52823712-fresh-seasonal-organic-vegetables-salad-preparation-with-dressings-ingredients-cutlery-and-kitchen-c.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center center;
  }

  nav.menu {
     color: black;
  }
</style>

<h1>Hello, <%= current_user.username%> !</h1>
<h3>Your Personal Recipe Menu:</h3>
<br></br>
<nav class=menu>
    <% @recipes.each do |recipe| %>
        
        <h4>Name</h4>           
        <%= recipe.name %>
        <h4>Instructions</h4> 
        <%= recipe.content %>
        <h4>Ingredients</h4>
        <h5>Item</h5>
        <%= recipe.item %>
        <h5>Quantity</h5>
        <%= recipe.quantity %>
        <h5>Unit</h5>
        <%= recipe.unit %>
        <br></br>
        <a href="/recipes/<%=recipe.id%>">View Recipe</a>
     <%end%>


<br></br>
<br></br>
<a href="/recipes/new"><button>New Recipe</button></a>
<a href='/'><button>Homepage</button></a>
<a href="/logout"><button>Log Out</button></a>
</nav>
