<h1>Hello, <%= current_user.username%> !</h1> 
<h3>Your Personal Recipe Menu:</h3>
<br></br>

    <% @recipes.each do |recipe| %>
        
        <h4>Name</h4>           
        <%= recipe.name %>
        <h4>Description</h4> 
        <%= recipe.content %>
        <h4>Ingredients</h4>
        <h5>Item</h5>
        <%= recipe.item %>
        <h5>Quantity</h5>
        <%= recipe.quantity %>
        <h5>Unit</h5>
        <%= recipe.unit %>
        <br></br>
        <a href="/recipes/<%=recipe.id%>">View Recipe</a>
     <%end%>


<br></br>
<br></br>
<a href="/recipes/new"><button>New Recipe</button></a>
<a href='/'><button>Homepage</button></a>
<a href="/logout"><button>Log Out</button></a>

