<h1><%=@user.username%></h1>
<h2>Here is your Recipe!</h2>
<h3><%=@recipe.name%></h3>
<h3><%=@recipe.content%></h3>


<form method="POST" action="/recipes/<%= @recipe.id %>/delete">
  <input type="submit" value="Delete Recipe">
</form>
<br></br>
<a href="/recipes"><button>Back to Recipes</button></a>
<a href="<%= @recipe.id %>/edit"><button>Edit Recipe</button></a>

